{{#if gotPassword}}
{{show-days model=model update='update' delete='delete'}}
<br>
{{new-day model=model saveDay='saveDay'}}
{{else if failedAttempt}}
  <h3>Hold it, cowboy. You do not have access.</h3>
{{else}}
  <form class="text-center">
    <label>Enter the secret password:</label><br>
    {{input class="form=control" type="password" value=attempt id='attempt'}}<br><br>
    <button class="btn btn-default" {{action 'checkPassword' attempt}}>Submit</button>
  </form>
{{/if}}
