<div class="row">
  <div class="col-xs-8">
    <h3 class="title"><big>{{model.title}}</big><br><small>{{model.location}}</small></h3>
  </div>
  <div class="col-xs-4 text-right">
    <h3 class="title"><small>{{moment-format model.date 'dddd'}} {{moment-format model.date 'MMM Do[,] YYYY'}}</small></h3>
  </div>
</div>
<div class='row'>
  <div class="col-xs-10 col-xs-offset-1">
    <br>
    <p>{{model.description}}</p><br>
  </div>
</div>
{{day-photos model=model}}
<h3>Comments</h3>
{{#each model.comments as |comment|}}
<div class="row" style="padding: 5px">
  <div class="col-xs-3 col-xs-offset-1">
    <p>{{comment.username}}:</p>
  </div>
  <div class="col-xs-8">
    <p>{{comment.text}}</p>
  </div>
</div>
{{/each}}
{{add-comment model=model addComment='addComment'}}
<br>
<div class="text-center">
  {{#link-to 'index'}}<button class="btn btn-default">Back</button>{{/link-to}}
</div>
