{{edit-day model=model update='update' delete='delete'}}
<br>
{{edit-photos-sorted model=model updatePost='updatePost' deletePost='deletePost'}}
{{add-photo model=model addPhoto='addPhoto'}}
<h3>Comments</h3>
{{#each model.comments as |comment|}}
<div class="row" style="padding: 5px">
  <div class="col-xs-2">
    <p>{{comment.username}}:</p>
  </div>
  <div class="col-xs-9">
    <p>{{comment.text}}</p>
  </div>
  <div class="col-xs-1">
    <button class="btn btn-danger btn-sm" {{action 'deleteComment' comment}}>X</button>
  </div>
</div>
{{/each}}
